
table {

		font-family: "Times New Roman", Times, serif;
		font-size:15px;
		color:#333333;
		border-width: 1px;
		border-color: #3A3A3A;
		border-collapse: collapse;
		margin-left:auto; 
		margin-right:auto;
		text-align: center;

	}
table,th {
		border-width: 1px;
		padding: 15px;
		border-style: solid;
		border-color: #3A3A3A;
		background-color: #A2A2;
}
table td {
		border-width: 1px;
		padding: 6px;
		border-style: solid;
		border-color: #3A3A3A;
		background-color: #ffffff;
}

caption
{
	font-size: 30px;
	padding: 10px 20px;
	font-family: "Times New Roman", Times, serif;

}

button {
  
  background-color: #4CAF50;
  border:1px solid black;
  color: white;
  border-radius: 5px;
  padding:20px 40px;
  margin-right: 40px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
 }

 

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 20px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 30px;
  font-size: 20px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}


#but
{
	position:absolute;
    transition: .5s ease;
    top: 30%;
    left: 35%;
	width:960px;
	padding: 50px 300px;
}

#wrap{
	position: relative;
	margin: 0 auto;
	max-width: 960px; 
	height: 420px;
    
    background-image: url("back2.jpg");
	background-color: lightblue;
	background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

